<header id="gs-header">
    <input type="checkbox" id="gs-mobile-nav-cb" />
    <div class="flex centered-content">
        <div class="flex flex-col flex-vcenter flex-hstart">
            <div id="gs-header-name"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Name }}</a></div>
            <div class="s-hide">{{ .Site.Params.Description }}</div>
        </div>
        <div class="flex flex-row flex-vcenter flex-hcenter flex-grow">
            <div id="gs-header-logo"></div>
        </div>
        <div class="flex flex-row flex-vcenter flex-hend">
            <nav id="gs-header-nav" class="l-hide">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <span {{ if $currentNode.HasMenuCurrent "main" . }} class="gs-nav-entry gs-sub-nav active" {{ else }} class="gs-nav-entry gs-sub-nav" {{ end }}>
                        <div class="gs-sub-nav-name">{{ .Name }}</div>
                        <div class="triangle-fill"><div class="triangle-up"></div></div>
                        <div class="gs-sub-nav-content">
                            {{ range .Children }}
                            <a href="{{ .URL }}" {{ if $currentNode.IsMenuCurrent "main" . }} class="gs-sub-nav-entry active" {{ else }} class="gs-sub-nav-entry" {{ end }}>{{ .Name }}</a>
                            {{ end }}
                        </div>
                    </span>
                    {{ else }}
                    <a href="{{ .URL }}" {{ if $currentNode.IsMenuCurrent "main" . }} class="gs-nav-entry active" {{ else }} class="gs-nav-entry" {{ end }}>{{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </nav>
            <label for="gs-mobile-nav-cb" id="gs-mobile-nav-toggle" class="fa fa-bars l-show"></label>
        </div>
    </div>
    <div class="s-show" id="gs-header-mobile-desc">{{ .Site.Params.Description }}</div>
    <div id="gs-mobile-nav" class="l-show">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <div class="gs-mobile-nav-entry gs-mobile-sub-nav">
                <label for="gs-mobile-sub-nav-cb-{{ .Identifier }}">{{ .Name }}</label>
                <input type="checkbox" id="gs-mobile-sub-nav-cb-{{ .Identifier }}" />
                <div class="gs-mobile-sub-nav-content">
                    {{ range .Children }}
                    <a href="{{ .URL }}" class="gs-mobile-sub-nav-entry">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
            {{ else }}
            <a href="{{ .URL }}" class="gs-mobile-nav-entry">{{ .Name }}</a>
            {{ end }}
        {{ end }}
    </div>
</header>
