{{ partial "header.html" . }}

<article class="centered-content-small gf-news-article">
    <header class="gf-news-article-header">
            <div class="gf-news-article-title">{{ .Title }}</div>
            <div class="gf-news-article-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
    </header>
    <div class="gf-news-content">
    {{ .Content }}
    </div>
    <div class="gf-news-article-navigate">
        {{ if .Prev }}
        <a class="gf-news-previous" href="{{ .Prev.Permalink }}"><i class="fa fa-long-arrow-left left-of"></i>{{ .Prev.Title }}</a>
        {{ end }}
        {{ if .Next }}
        <a class="gf-news-next" href="{{ .Next.Permalink }}">{{ .Next.Title }}<i class="fa fa-long-arrow-right right-of"></i></a>
        {{ end }}
    </div>
</article>

{{ partial "footer.html" . }}
