<article class="gs-news-summary">
    <header class="gs-news-summary-header flex">
        <a href="{{ .Permalink }}" class="gs-news-summary-title">{{ .Title }}</a>
        <span class="gs-news-summary-meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    </header>
    <div class="gs-news-content">
        {{ .Summary }}
    </div>
    {{ if .Truncated }}
    <footer class="gs-news-summary-footer">
        <a href="{{ .Permalink }}">Read more <i class="fa fa-long-arrow-right right-of"></i></a>
    </footer>
    {{ end }}
</article>
