/* -----------------------
    Error Pages
----------------------- */
#error-404 {
    margin-bottom: 4rem;

    h1 {
        font-size: 8rem;
        text-shadow: 1px 1px 1px $light-blue, 2px 2px 1px $light-blue, 3px 3px 1px $light-blue, 4px 4px 1px $med-blue, 5px 5px 1px $med-blue, 6px 6px 1px $med-blue, 7px 7px 1px $dark-blue, 8px 8px 1px $dark-blue;
        margin-bottom: 1rem;

        @include breakpoint("small") {
            font-size: 4rem;
        }
    }

    p { font-size: map-get($font-size, "nl1"); }

    a {
        color: $dark;
        border-bottom: 2px solid $light-blue;
        &:hover { border-bottom-width: 4px; }
    }
}

/* -----------------------
    News
----------------------- */
#gs-news, #gs-article {
    margin-bottom: 4rem;
}

#gs-news .pagination {
    @extend .text-center;

    list-style: none;
    width: 100%;
    padding: 0;
    margin: 2rem 0rem;

    li {
        display: inline-block;
        padding: 0rem 0.2rem;

        &.disabled { display: none; }
        &.active {
            border-bottom: 2px solid $light-blue;
            a { color: $light-blue; }
        }

        // Jump to first
        &:first-child a,
        &:last-child a,
        &:nth-child(2) a,
        &:nth-last-child(2) a {
            &:before { @extend .font-awesome; }
            &:hover { color: $light-blue; }
        }

        &:first-child a:before { content: "\f191"; }
        &:last-child a:before { content: "\f152"; }
        &:nth-child(2) a:before { content: "\f0d9"; }
        &:nth-last-child(2) a:before { content: "\f0da"; }

        a {
            color: $medium;
            &:hover { color: $light-blue; }

            span {
                display: none;
            }
        }
    }
}

.gs-news-article {
    margin-bottom: 4rem;

    .header {
        border-bottom: 2px solid $light-blue;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        .title {
            margin-bottom: 0.5rem;
            font-size: map-get($font-size, "nl6");
            font-weight: bold;

            @include breakpoint("small") {
                font-size: map-get($font-size, "nl4");
            }

            @include breakpoint("tiny") {
                font-size: map-get($font-size, "nl2");
            }
        }

        .meta {
            color: $medium;
        }
    }

    .navigate {
        @extend .flex;
        @include flex-justify-content(space-between);

        @include breakpoint("tiny") {
            display: none;
        };
    }
}

#gs-article .content,
.gs-news-article .content,
.gs-news-summary .content {
    line-height: map-get($font-size, "nl4");

    p { font-family: $content-font; }

    a {
        color: $dark;
        border-bottom: 2px solid $light-blue;
        &:hover { border-bottom-width: 4px; }
    }

    blockquote {
        $fg-color: lighten($dark, 30%);

        margin-left: 1.4rem;
        border-left: 4px solid $fg-color;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        color: $fg-color;
        background-color: $medium-light;
        border-radius: 0.2rem;
        box-sizing: border-box;

        @include breakpoint("small") {
            margin-left: 0.5rem;
            width: calc(100% - 1rem);
        }

        a { color: $fg-color; }
        p:first-child { margin-top: 0rem; }
        p:last-child { margin-bottom: 0rem; }
    }

    img { @extend .flex; margin: 0 auto; max-width: 50%; }

    dl {
        dt { font-weight: bold; font-family: $default-font; }
    }

    /*ol {
        list-style-type: none;
        counter-reset: item;
        padding: 0;
        margin: 0;

        ol {
            padding-left: 1.4rem;
        }

        li {
            display: table;
            counter-increment: item;

            &:before {
                content: counters(item, ".") ". ";
                padding-right: 0.4rem;
            }

            li:before { content: counters(item, ".") " "; }
        }
    }*/

    table {
        margin: 0 auto;
        border-collapse: collapse;

        tr { border-bottom: 1px solid $sand; }
        td, th { padding: 0.5rem 1rem; }

        thead {

        }

        tbody {
            tr:last-child { border-bottom: 0; }
        }
    }

    // Inline code examples
    & > p > code {
        @extend .colored-box;
        padding: 0.2rem 0.5rem; // Overwrite colored-box padding
    }

    // Apply only to direct descendants otherwise it would cause problems
    // with code highlighted by pygments using Hugo's highlight macro.
    & > pre {
        @extend .colored-box;
    }

    .footnotes {
        ol { counter-reset: initial; }
    }
}

.gs-news-summary {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $medium-light;

    .header {
        margin-bottom: 1rem;

        .title {
            font-size: map-get($font-size, "nl2");
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .meta {
            font-size: map-get($font-size, "ns1");
            color: $medium;
        }
    }

    .footer {
        margin-top: 1rem;
    }
}
