/* -----------------------
    Index
----------------------- */
#gs-intro {
    @extend .text-center;
    font-size: map-get($font-size, "nl2");
    line-height: map-get($font-size, "nl4");

    @include breakpoint("tiny") {
        line-height: map-get($font-size, "nl2");
    }

    @include breakpoint("small") {
        font-size: map-get($font-size, "n");
    }
}

#gs-features {
    // Flex-wrap is not supported by older browsers.
    //
    // @extend .flex;
    // @include flex-wrap(wrap);

    margin: 2rem 0rem 2rem 0rem;
    font-size: 0;

    .gs-feature {
        @extend .colored-box;

        display: inline-block;
        vertical-align: top;

        max-width: calc(50% - 1rem);
        width: auto;
        margin: 0.5rem;
        font-size: map-get($font-size, "n");
        height: 200px;

        @include breakpoint("tiny") {
            max-width: 100%;
            width: auto;

            .title, .detail { text-align: center; }
        }

        .title {
            font-size: map-get($font-size, "nl1");
            margin-top: 0;
        }

        .detail {
            margin-bottom: 0;
            line-height: map-get($font-size, "nl4");

            @include breakpoint("tiny") {
                line-height: map-get($font-size, "nl2");
            }

            @include breakpoint-height("tiny") {
                line-height: map-get($font-size, "nl2");
            }
        }
    }
}
