//
// This file contains the fonts and color variables used in both themes.
//

/* -----------------------
    Colors
----------------------- */
$dark-blue:     #387799;
$med-blue:      #3389AA;
$light-blue:    #57AABB;
$sand:          #CACCBB;
$dark:          #333345;
$medium:        #9999A5;
$medium-light:  #F2F2FA;
$light:         #FAFAF9;

/* -----------------------
    Fonts
----------------------- */
$default-font:   "Droid Sans", sans-serif;
$content-font:   "Droid Serif", serif;
$theme-font:     "Lily Script One", sans-serif;
$monospace-font: "Inconsolata", monospace;

$font-size: (
    "ns1":  0.8rem,
    "n":    1.0rem,
    "nl1":  1.2rem,
    "nl2":  1.4rem,
    "nl3":  1.6rem,
    "nl4":  1.8rem,
    "nl5":  2.0rem,
    "nl6":  2.4rem,
    "nl7":  2.6rem,
    "nl8":  2.8rem,
    "nl9":  4.0rem
);
