{{ partial "header.html" . }}
<section class="centered-content-small">
    {{ range first 1 (where .Data.Pages "Section" "index") }}
    {{ .Content }}
    {{ end }}
    <hr />
</section>
<section id="gs-news" class="centered-content-small">
    <h2>News</h2>
    {{ range first 5 (where .Data.Pages.ByDate.Reverse "Section" "news") }}
    {{ .Render "summary" }}
    {{ else }}
    <article class="gs-news-summary">
        <div class="content">
            <span class="title">No News Available</a>
        </div>
    </article>
    {{ end }}
</section>
{{ partial "footer.html" . }}
