        <footer id="gs-footer">
            <div id="gs-footer-content" class="centered-content">
                <div id="gs-footer-logo" class="m-hide"></div>
                <div id="gs-footer-info-left">
                    <div id="gs-footer-name">{{ .Site.Params.Name }}</div>
                    <div id="gs-footer-desc">{{ .Site.Params.Description }}</div>
                </div>
                <div class="flex-grow"></div>
                <div id="gs-footer-info-right">
                    {{ if isset .Site.Params "GithubLink" }}
                    <div class="gs-footer-info-entry"><a href="{{ .Site.Params.GithubLink }}" target="_blank"><i class="fa fa-github left-of"></i>GitHub</a></div>
                    {{ end }}
                    {{ if isset .Site.Params "Mail" }}
                    <div class="gs-footer-info-entry"><i class="fa fa-envelope left-of"></i><span>{{ .Site.Params.Mail }}</span></div>
                    {{ end }}
                    {{ if isset .Site.Params "Twitter" }}
                    <div class="gs-footer-info-entry"><a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank"><i class="fa fa-twitter left-of"></i>@{{ .Site.Params.Twitter }}</a></div>
                    {{ end }}
                    <div class="gs-footer-info-entry"><a href="/cookies"><i class="fa fa-file-text left-of"></i>Cookie Policy</a></div>
                    <!--<div class="gs-footer-info-entry"><a href="{{ .Site.BaseURL }}/terms"><i class="fa fa-file-text left-of"></i>Terms &amp; Conditions</a></div>-->
                </div>
            </div>
            <div id="gs-footer-copy">&copy; {{ .Site.LastChange.Year }} {{ if isset .Site.Params "Author" }}{{ .Site.Params.Author }}{{ else }}{{ .Site.Title }}{{ end }}</div>
        </footer>

        <script src="/js/main.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//piwik.gts.octans.uberspace.de/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//piwik.gts.octans.uberspace.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
